.checkout-page {
  padding-top: 75px;
}
.checkout-container {
  display: grid;
  grid-template-columns: 8fr 5.2fr;
  grid-gap: 24px;
  padding-bottom: 120px;
}
.checkout-step-title {
  display: flex;
  margin-bottom: 34px;
}
.checkout-step-title h4 {
  font-family: var(--SB_600);
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.checkout-step-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1.27273px solid var(--color_dark_green);
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color_dark_green);
  margin-right: 20px;
}
.checkout-form {
  margin-bottom: 63px;
}

.checkout-form input {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  padding: 18px 22px;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  background-color: #fff;
  height: 56px;
  color: #000000;
}
.checkout-form input::placeholder {
  color: #808080;
}
.checkout-input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.radio-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 63px;
}
.radio-card-grid-horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 60px;
}
.radio-card {
  padding: 18px 24px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.radio-card > span {
  display: flex;
  width: 28px;
  height: 28px;
  min-width: 28px;
  max-height: 28px;
  border: 1px solid var(--color_dark_green);
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
  cursor: pointer;
}
.radio-card-horizontal span {
  margin-right: 24px;
}
.active-radio::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--color_dark_green);
  border-radius: 50%;
}
/* .radio-card > span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--color_dark_green);
  border-radius: 50%;
} */

.pay-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 10px;
  margin-top: 14px;
  width: 80%;
}
.pay-card {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  justify-content: space-between;
  cursor: pointer;
}
.pay-card > span {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pay-card img {
  width: 82px;
  object-fit: contain;
}
.adress-space h6 {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 32px;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color_dark_green);
  border-color: var(--color_dark_green);
  border-radius: 4px;
}
.radio-card-body h5 {
  font-family: var(--SB_500);
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.radio-card-body p {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 14px;
}
.radio-card-body {
  /* display: flex; */
  /* justify-content: space-between; */
}
.radio-card-body button {
  background-color: transparent;
  border: none;
}
.radio-card-body button svg path {
  stroke: var(--color_dark_green);
}
.add-adress-btn span {
  display: flex;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--color_dark_green);
  margin-right: 24px;
}
.add-adress-btn {
  margin-top: 20px;
  cursor: pointer;
  background: #fbfbfb;
  border-radius: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--SB_600);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--color_dark_green);
}
.bottom-text {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.bottom-text > span {
  display: flex;
}
.bottom-text > span p {
  margin-left: 13px;
}
.bottom-text .checkout-prob {
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color_dark_green);
  text-decoration: underline;
  margin-top: 18px;
  cursor: pointer;
}
.bottom-text p {
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.bottom-text p span {
  color: var(--color_dark_green);
  text-decoration: underline;
  cursor: pointer;
}
.checkout-btn {
  background: var(--color_dark_green);
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--SB_600);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}
.checkout-info {
  padding: 28px;
  border: 1px solid #f1f1f1;
  border-radius: 16px;
}
.checkout-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #f1f1f1;
}
.checkout-info-header h4 {
  font-family: var(--SB_600);
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}
.checkout-info-header h5 {
  font-family: var(--SB_500);
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: var(--color_dark_green);
}
.checkout-info-body span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.checkout-info-body span:last-child {
  margin-bottom: 28px;
}
/* .checkout-info-body {
  border-bottom: 1px solid #f1f1f1;
} */
.checkout-info-body span p {
  font-family: var(--SB_500);
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
.checkout-info-product-card .checkout-info-product-card-img {
  width: 118px;
  height: 118px;
  padding: 12px 0;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 7.46835px;
}
.checkout-info-product-card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkout-info-product-card {
  display: flex;
}
.checkout-info-product-card-body p {
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.checkout-info-product-card-body span {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: #a2a2a2;
}
.checkout-info-product-card-body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
}
.checkout-info-product-card-body h5 {
  font-family: var(--SB_700);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.checkout-info-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 28px;
  border-top: 1px solid #f1f1f1;
  margin-top: 28px;
  padding-top: 28px;
}

.vmodal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vmodal-header h5 {
  font-family: var(--SB_600);
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.ant-modal-footer {
  display: none !important;
}
.select-placeholder
  .ant-select-selection--single
  .ant-select-selection__rendered
  .ant-select-selection__placeholder {
  display: block !important;
}
.checkout-select .ant-select-selection--single {
  height: 48px;
  background: #f8f8f8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  border: none;
}
.checkout-select .ant-select-selection__rendered {
  width: 100%;
}
.modal-select-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
.vmodal-body {
  margin-top: 32px;
}
.checkout-textarea {
  background: #f8f8f8 !important;
  border-radius: 12px !important;
  border: none !important;
}
.checkout-textarea:focus {
  box-shadow: none !important;
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  box-shadow: none !important;
}
.checkout-select {
  margin-bottom: 18px;
}
.checkout-select .ant-select-arrow-icon {
  color: var(--color_dark_green) !important;
}
.ant-select-dropdown--single {
  background: #ffffff !important;
  border: 1px solid #eaeaea !important;
  box-shadow: 0px 12px 53px -6px rgba(9, 69, 79, 0.08) !important;
  border-radius: 8px !important;
}
.ant-select-dropdown-menu-item {
  border-bottom: 1px solid #eaeaea;
  background-color: #fff !important;
  font-family: var(--SB_400) !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 22px !important;
}
.ant-select-dropdown-menu-item:last-child {
  border-bottom: none;
}
.ant-select-dropdown-menu-item:hover:not(
    .ant-select-dropdown-menu-item-disabled
  ) {
  background-color: #fff !important;
  font-family: var(--SB_400) !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color_dark_green) !important;
}
.ant-select-dropdown-menu::-webkit-scrollbar {
  width: 5px;
}
.ant-select-dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
}
.ant-select-dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--color_dark_green);
  border-radius: 10px;
}
.ant-select-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: var(--color_dark_green);
}
.vmodal-btn {
  background: var(--color_dark_green);
  border-radius: 12px;
  font-family: var(--SB_600);
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  height: 48px;
  align-items: center;
  cursor: pointer;
}
.step-active {
  background: var(--color_dark_green) !important;
}
.adress-modal-btn {
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  .checkout-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .radio-card-grid-horizontal,
  .checkout-input-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .checkout-info {
    padding: 0;
    border: none;
  }
  .ant-form-vertical .ant-form-item {
    padding-bottom: 0;
  }
  .checkout-input-grid {
    gap: 16px;
  }
  .radio-card-body p {
    display: none;
  }
  .radio-card > span {
    margin-right: 18px;
  }
  .checkout_dicoin_input {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}
