@import "./main.css";
@import "./layouts/layout.css";
@import "./components/form.css";

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
body {
  font-family: var(--SB_text) !important;
  font-style: normal;
  font-weight: 400;
}
ul {
  margin-bottom: 0;
  list-style: none;
}
