@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "SF_400";
  src: url("../fonts/SF_PRO/SFPRODISPLAYREGULAR.otf"); /* IE9*/
}
@font-face {
  font-family: "SF_500";
  src: url("../fonts/SF_PRO/SFPRODISPLAYMEDIUM.otf"); /* IE9*/
}
@font-face {
  font-family: "SB_700";
  src: url("../fonts/SB_Sans_Text_Bold/SB Sans Text Bold.ttf"); /* IE9*/
}
@font-face {
  font-family: "SB_500";
  src: url("../fonts/SB_San_Interface/SB Sans Interface.ttf"); /* IE9*/
}
@font-face {
  font-family: "SB_300";
  src: url("../fonts/SB_Sans_Text_Thin/SB Sans Text Thin.ttf"); /* IE9*/
}
@font-face {
  font-family: "SF_600";
  src: url("../fonts/SF_PRO/SFPRODISPLAYSEMIBOLDITALIC.otf"); /* IE9*/
}
@font-face {
  font-family: "SF_700";
  src: url("../fonts/SF_PRO/SFPRODISPLAYBOLD.otf"); /* IE9*/
}
@font-face {
  font-family: "SB Sans Text";
  src: url("../fonts/SB_Sans_Text/@font-face/c68e21ad1a10803b1ef491fd0392b067.eot"); /* IE9*/
  src: url("../fonts/SB_Sans_Text/@font-face/c68e21ad1a10803b1ef491fd0392b067.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/SB_Sans_Text/@font-face/c68e21ad1a10803b1ef491fd0392b067.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("../fonts/SB_Sans_Text/@font-face/c68e21ad1a10803b1ef491fd0392b067.woff")
      format("woff"),
    /* chrome、firefox */
      url("../fonts/SB_Sans_Text/@font-face/c68e21ad1a10803b1ef491fd0392b067.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/SB_Sans_Text/@font-face/c68e21ad1a10803b1ef491fd0392b067.svg#SB Sans Text")
      format("svg"); /* iOS 4.1- */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SB Sans Text";
  font-style: normal;
  font-weight: 400;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
  list-style: none;
}
.container_xl {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (max-width: 1600px) {
  .container_xl {
    padding: 0 15px;
  }
}
@media (min-width: 1700px) {
  .container_xl {
    max-width: 1632px;
    padding: 0;
  }
}
/* @media (min-width: 576px) {
  .container_xl {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container_xl {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container_xl {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container_xl {
    max-width: 1140px;
  }
}
@media (max-width: 1360px) {
  .container_xl {
    max-width: 1240px;
  }
}
@media (min-width: 1360px) {
  .container_xl {
    max-width: 95%;
  }
}
@media (max-width: 1568px) and (min-width: 1330px) {
  .container_xl {
    max-width: 1328px;
  }
} */

.bg-grey {
  background: #fbfbfb;
}
.mb-120 {
  margin-bottom: 120px;
}
