/* header */
.header-top {
  padding: 11px 0;
  justify-content: space-between;
  background: #f2f5f7;
}
.header-top__right {
  width: 50%;
  justify-content: flex-end;
}

.header-top ul li {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #747474;
  margin-right: 32px;
  cursor: pointer;
  transition: 0.2s;
}
.header-top ul li:hover {
  color: var(--color_dark_green);
}
.header-top__right p:last-child {
  margin-left: 16px;
}
.header-top__right p {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}
.header-top__right a {
  font-family: var(--SB_600);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color_dark_green);
}
.header-top__right a:hover {
  color: #04babe;
}
.header-top__right p span {
  cursor: pointer;
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.header-lang-active {
  font-family: var(--SB_400);
  text-decoration-line: underline;
}
.header-navbar {
  background: #fff;
  padding: 8px 0;
}
.search_input_container {
  max-width: 728px;
  background: #f6f7f9;
  border: 1px solid var(--color_dark_green);
  border-radius: 143px;
  height: 43px;
  display: flex;
  align-items: center;
  padding: 4px 6px 4px 16px;
  position: relative;
}
.search_input_container input {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  background: #f6f7f9;

  color: #000000;
}
.search_input_container input::placeholder {
  color: #939393;
}
.search_input_container input:focus {
  outline: none;
}
.header-navbar_container > div:first-child {
  width: 65%;
}
.header-navbar_container > div:last-child {
  width: 35%;
}
.search_input_container > span {
  display: flex;
}
.nav_logo {
  margin-right: 19px;
}
.search_input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-navbar_navbar ul li {
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  position: relative;
}
.header-navbar_navbar ul li > span {
  display: flex;
  justify-content: center;
}
.header-navbar_navbar ul li:hover,
.navbar_block_active {
  color: #04babe !important;
}
.header-navbar_navbar ul {
  padding-left: 65px;
}
.header-navbar_navbar ul li:hover .nav-icons svg rect,
.header-navbar_navbar ul li:hover .nav-icons svg path {
  stroke: #04babe;
}
.header-navbar_navbar ul li svg rect,
.header-navbar_navbar ul li svg path {
  transition: 0.3s;
}
.header-navbar_navbar ul li svg {
  margin-bottom: 8px;
}
.nav_profile {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 143px;
  display: flex;
  flex-direction: row;
  padding: 6px 15px;
  align-items: center;
  background: var(--color_dark_green);
}

.nav_profile svg {
  margin-bottom: 0 !important;
  margin-right: 18px;
}
.nav_profile p {
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 0;
}
.user_profile {
  background-color: #e3fcf5;
}
.user_profile p {
  color: var(--color_dark_green);
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
  width: 90px;
}
.user_profile svg path,
.user_profile svg circle {
  stroke: var(--color_dark_green);
}
.catalog-btn {
  height: 42px;
  background: var(--color_dark_green);
  border-radius: 9px;
  padding: 14px 28px;
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  border: none;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  border-radius: 41px;
  margin-right: 27px;
}
.catalog-btn span {
  margin-right: 12px;
}
.catalog-btn span svg {
  width: 14px;
  height: 14px;
}
.header-category {
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(37.5px);
}
/* .header-category_container ul {
  margin-left: 56px;
} */
.header-category_container ul li a {
  padding: 9px 12px;
  margin-right: 18px;
  font-family: var(--SB_400);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  background: #f6f7f9;
  border-radius: 9px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.winter_discount {
  /* color: #ffffff !important; */
  /* background: linear-gradient(to right, #018ce1, #216bfd) !important; */
}
.stock__active {
  opacity: 0.6;
  pointer-events: none;
}
/* .winter_discount svg path {
  fill: #ffffff;
} */
.header-category_container ul li a span {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.coin_btn {
  position: relative;
  border: 4px solid #09454f;
  border-radius: 39px;
  height: 38px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.coin_btn span {
  position: absolute;
  left: -3px;
  top: -3px;
  border: 6px solid #09454f;
  border-radius: 50%;
}
.coin_btn {
  font-family: var(--SB_600);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #09454f;
  padding: 0 24px 0 57px;
}
.header-category_container a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.nav-info {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ededed;
  border-radius: 50%;
  color: #a5a5a5;
  margin-left: 12px;
}
/* footer */
.footer {
  padding-top: 34px;
  padding-bottom: 24px;
}
.main_info .footer-tel {
  margin-top: 29px;
  margin-bottom: 47px;
}
.main_info .footer-tel p {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 8px;
}
.main_info .footer-tel a {
  font-family: var(--SB_700);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #06858c;
}
.main_info .footer-links {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: 0.3s ease-in;
}
.main_info .footer-links:hover {
  text-decoration-line: underline;
}
.footer-links span {
  margin-right: 9px;
}
.main_info .footer-links:last-child {
  margin-top: 16px;
}
.footer_menu h4 {
  font-family: var(--SB_700);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  /* color: #06858c; */
  color: #000;
}
.footer_menu ul {
  margin-top: 32px;
}
.footer_menu ul li {
  margin-bottom: 14px;
  height: 17px;
}
.footer_menu ul li a {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.footer-bottom {
  padding: 18px 0;
  border-top: 0.8px solid rgbA(0, 0, 0, 0.2);
}
.footer-bottom p {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.footer-bottom p span {
  margin-right: 14px;
}
.footer .payment-types {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

/* .search-btn:hover svg path {
  fill: #fff;
} */
/* .search-btn:hover span {
  z-index: 1;
  position: relative;
  color: #fff;
} */
.search-btn {
  background: #ffffff;
  border: 1.5px solid rgba(31, 138, 112, 0.2);
  border-radius: 56px;
  padding: 0 14px;
  font-family: var(--SB_500);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #09454f;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.search-btn svg {
  margin-right: 14px;
}
.search-btn svg path {
  fill: #09454f;
  transition: 0.2s;
}
.chekout-footer-head {
  display: flex;
}
.chekout-footer-head p {
  font-family: var(--SB_400);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-left: 32px;
}
.footer-checkout {
  background-color: #fafafa;
}
.footer-checkout .footer-bottom {
  background-color: #fafafa;
}
.seach-resoult-container {
  position: absolute;
  top: calc(100% + 4px);
  border-radius: 24px;
  border: 1px solid #eaeaea;
  background: #fff;
  padding: 16px;
  padding-right: 8px;
  z-index: 1001;
  width: 100%;
  left: 0;
}
.search-resoult-scroll {
  max-height: 376px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 16px;
}
.search-resoult-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.search-resoult-scroll::-webkit-scrollbar-track {
  border-radius: 100px;
  background: #f2f2fa;
}

/* Handle */
.search-resoult-scroll::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--yashil, #1f8a70);
}

/* Handle on hover */
.search-resoult-scroll::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.search-tt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.search-tt h6 {
  color: #727474;
  font-family: var(--SB_400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.search-tt button {
  color: var(--color_dark_green);
  font-family: var(--SB_400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  background-color: transparent;
  border: none;
}
.search-resoults {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-resoults a,
.last_search_resoults {
  color: #727474;
  font-family: var(--SB_400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  width: 100%;
  transition: 0.25s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-resoults a svg,
.last_search_resoults svg {
  margin-right: 8px;
}
.search-resoults a:hover,
.last_search_resoults:hover {
  color: var(--color_dark_green);
}
.search-resoults a svg path,
.last_search_resoults svg path {
  transition: 0.25s;
}
.search-resoults a:hover svg path,
.last_search_resoults:hover svg path {
  stroke: var(--color_dark_green);
}
.search-resoults button {
  border: none;
  background-color: transparent;
}
.search-popular h6 {
  color: var(--color_dark_green);
  font-family: var(--SB_400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 16px;
}
.search-resoults-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
