/* header */
.header-top {
  padding: 14px 0;
  justify-content: space-between;
  background: #04babe;
}
.header-top__right {
  width: 50%;
  justify-content: flex-end;
}

.header-top ul li {
  margin-right: 32px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.header-top__right p:last-child {
  margin-left: 76px;
}
.header-top__right p {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.header-top__right p a {
  font-family: "SB Sans Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.header-top__right p span {
  cursor: pointer;
}
.header-lang-active {
  font-family: var(--SB_700);
  font-weight: 700;
  text-decoration: underline;
}
.header-navbar {
  background: #09454f;
  padding: 8px 0;
}
.search_input_container {
  background-color: #ffffff;
  height: 43px;
  border-radius: 143px;
  display: flex;
  align-items: center;
  padding: 4px 6px 4px 16px;
}
.search_input_container input {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #939393;
}
.search_input_container input:focus {
  outline: none;
}
.header-navbar_container > div:first-child {
  width: 65%;
}
.header-navbar_container > div:last-child {
  width: 35%;
}
.search_input_container > span {
  display: flex;
}
.nav_logo {
  margin-right: 87px;
}
.search_input_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-navbar_navbar ul li {
  font-family: var(--SB_text);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 8px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.header-navbar_navbar ul li:hover {
  color: #04babe;
}
.header-navbar_navbar ul {
  padding-left: 65px;
}
.header-navbar_navbar ul li:hover .nav-icons svg rect,
.header-navbar_navbar ul li:hover .nav-icons svg path {
  stroke: #04babe;
}
.header-navbar_navbar ul li svg rect,
.header-navbar_navbar ul li svg path {
  transition: 0.3s;
}
.header-navbar_navbar ul li svg {
  margin-bottom: 8px;
}
.nav_profile {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 143px;
  display: flex;
  flex-direction: row;
  padding: 6px 15px;
  align-items: center;
}
.nav_profile svg {
  margin-bottom: 0 !important;
  margin-right: 14px;
}
.nav_profile p {
  font-family: var(--SB_text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 0;
}
.header-category_container button {
  background: #09454f;
  border-radius: 9px;
  padding: 8px 12px;
  font-family: var(--SF_500);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header-category_container button span {
  margin-right: 12px;
}
.header-category {
  padding: 12px 0;
  background: #ffffff;
}
.header-category_container ul {
  margin-left: 56px;
}
.header-category_container ul li a {
  padding: 9px 12px;
  margin-right: 18px;
  font-family: var(--SB_text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  background: #2d3138;
  border-radius: 9px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.header-category_container ul li a span {
  margin-right: 13px;
  display: flex;
  align-items: center;
}
.coin_btn {
  position: relative;
  border: 4px solid #09454f;
  border-radius: 39px;
  height: 38px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.coin_btn span {
  position: absolute;
  left: -3px;
  top: -3px;
  border: 6px solid #09454f;
  border-radius: 50%;
}
.coin_btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #09454f;
  padding: 0 24px 0 57px;
}
.header-category_container a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.nav-info {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ededed;
  border-radius: 50%;
  color: #a5a5a5;
  margin-left: 12px;
}
/* footer */
.footer {
  padding-top: 34px;
  padding-bottom: 24px;
}
.main_info .footer-tel {
  margin-top: 29px;
  margin-bottom: 47px;
}
.main_info .footer-tel p {
  font-family: var(--SF_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 8px;
}
.main_info .footer-tel a {
  font-family: var(--SF_700);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #06858c;
}
.main_info .footer-links {
  font-family: var(--SF_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: 0.3s ease-in;
}
.main_info .footer-links:hover {
  text-decoration-line: underline;
}
.footer-links span {
  margin-right: 9px;
}
.main_info .footer-links:last-child {
  margin-top: 16px;
}
.footer_menu h4 {
  font-family: var(--SF_700);
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #06858c;
}
.footer_menu ul {
  margin-top: 32px;
}
.footer_menu ul li {
  margin-bottom: 14px;
  height: 17px;
}
.footer_menu ul li a {
  font-family: var(--SF_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.footer-bottom {
  padding: 18px 0;
  border-top: 0.8px solid rgbA(0, 0, 0, 0.2);
}
.footer-bottom p {
  font-family: var(--SF_400);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.footer-bottom p span {
  margin-right: 14px;
}
.footer .payment-types {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.search-btn::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 16px;
  background: transparent;
  border-radius: 50%;
  transition: 0.2s;
}
.search-btn:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  left: 0;
  background: #09454f;
}
.search-btn:hover svg path {
  fill: #fff;
}
.search-btn:hover span {
  z-index: 1;
  position: relative;
  color: #fff;
}
.search-btn {
  background: #ffffff;
  overflow: hidden;
  position: relative;
  border: 1.5px solid rgba(31, 138, 112, 0.2);
  border-radius: 56px;
  padding: 0 14px;
  font-family: var(--SB_500);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #09454f;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.search-btn svg {
  margin-right: 14px;
}
.search-btn svg path {
  fill: #09454f;
  transition: 0.2s;
}
